name: ci

on: [ push, pull_request ]

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v4
  - name: Set up Node 22
    uses: actions/setup-node@v4
    with:
     node-version: 22
  - run: npm install
  - run: npm run lint
